---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Font Garden: Contribute" pageTitle="Contribute">
  <div class="px-4 md:px-8 w-full mt-4 mb-4">
    <hr class="mt-4 mb-16 border-t-2 border-black" />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <p class="leading-snug">Font Garden is open-source software and is developed in the open on GitHub: <a class="text-indigo-700" href="https://github.com/fontgarden">https://github.com/fontgarden</a>. Contributions are encouraged and welcome.</p>
      </div>
    </div>
  </div>
</Layout>