---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Font Garden: Docs" pageTitle="Documentation">
  <div class="px-4 md:px-8 w-full mt-4 mb-4">
    <hr class="mt-4 mb-16 border-t-2 border-black" />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <p class="leading-snug">🚧🚧🚧 Font Garden documentation is under construction.</p>
        <p class="leading-snug">For now, please see the <a class="text-indigo-700" href="https://googlefonts.github.io/gf-guide/">Google Fonts documentation</a>. Font Garden is at the tooling and QA level a fork of the Google Fonts systems, and tries to maintain compatablity with that system whenever possible. Until the Font Garden documentation is done, the Google Fonts documentation should contain most of the information needed to contribute to the OFL ecosystem.</p>
      </div>
    </div>
  </div>
</Layout>