<!-- BEGIN HEADER -->
<div class="w-full px-4 md:px-8">
  <header class="flex text-left justify-between items-end py-5">
    <h1 class="mt-4 text-7xl tracking-tight">Font.Garden🐞{{PAGE_TITLE}}</h1>
  </header>
  <a href="./index.html"><h2 class="hover:text-indigo-600 m-0">Index</h2></a>
  <a href="./about.html"><h2 class="hover:text-indigo-600 m-0">About</h2></a>
  <a href="./documentation.html"><h2 class="hover:text-indigo-600 m-0">Documentation</h2></a>
  <a href="./contribute.html"><h2 class="hover:text-indigo-600 m-0">Contribute</h2></a>
</div>
<!-- END HEADER -->
